
@import "./variables";
@import "./mixins";

    // global
@import "./global/scaffolding";
@import "./global/forms";
@import "./global/typography";
@import "./global/buttons";
    // blocks
@import "./blocks/header";
@import "./blocks/main-nav";
@import "./blocks/banner";
@import "./blocks/feature";
@import "./blocks/popularly";
@import "./blocks/consulting";
@import "./blocks/availability";
@import "./blocks/new-items";
@import "./blocks/plans";
@import "./blocks/video";
@import "./blocks/partners";
@import "./blocks/explore";
@import "./blocks/team-details";
@import "./blocks/projects";
@import "./blocks/contacts";
@import "./blocks/blog-post";
@import "./blocks/footer";


// components
@import "./components/c-button.scss";
@import "./components/breadcrumb.scss";
@import "./components/c-title-center.scss";
@import "./components/c-title-start.scss";
@import "./components/c-sub-title-start.scss";
@import "./components/c-card-feature.scss";
@import "./components/c-card-popularly.scss";
@import "./components/availability.scss";
@import "./components/types.scss";
@import "./components/new-works.scss";
@import "./components/c-socials.scss";
@import "./components/c-team.scss";
@import "./components/reviews.scss";
@import "./components/c-latest-articles.scss";
@import "./components/contacts-information.scss";


// about us
@import "./about/banner-about.scss";
@import "./about/living-spaces.scss";
@import "./about/popular-properties.scss";
@import "./about/reviews.scss";
@import "./about/latest-articles.scss";

// service
@import "./service/banner-service.scss";
@import "./service/gallery.scss";
@import "./service/profile.scss";





