// scss-docs-start gray-color-variables
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-900: #212529;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$c-primary:    #1684B5FF;
$c-secondary:  #003E4DFF;
$red:     #cc0a1e;
$yellow:  #e6ff07;
$green:   #5fc01e;
$cyan:    #3bdeff;
$white:    #ffffff;

// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary:       $c-primary;
$secondary:     $c-secondary;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-600;
// scss-docs-end theme-color-variables

// Square radius
$btn-border-radius: 0;

// Create your own map
$custom-colors: (
  "custom-color": rgb(203, 17, 209)
);
$font-size-sm: 12px;
$badge-border-radius: 0;
$fs-sm: 10px;
$accordion-icon-transform:   rotate(90deg) !default;
// scss-docs-start font-variables
// stylelint-disable value-keyword-case

// breackpoints
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-x-desktop: 1200px;
$width-xx-desktop: 1400px;
// $width-xxx-desktop: 2560px;

$container-max-widths: (
  xxl: 1380px
);

// ex
// @media (min-width: $width-tablet) {}
// @media (min-width: $width-desktop) {}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 860px,
  xl: 1140px,
  xxl: 1200px
);