.c-progress-but {
    .progress-text {
        bottom: 12px;
        color: $secondary;
        font-weight: 700;
    }

    .progress-bar {
        border-top-right-radius: 20px;
    }
    
    
    .progress-bar {
        height: 12px;
    }
}