// .card-feature{


.card-feature {


    .card-btn {
        background-color: #F2F6F7FF;
    }

    .card-btn:hover {
        background-color: $primary;
        color: $white;
        background-color: red;
    }
}