.new-works {

    &__icon {
        bottom: -10%;
        fill: $white;
    }

    &__inner{
        bottom: 25px; 
    }

    &__text--text{
        color: $primary;
    }

    &__text--title{
        color: $secondary;
    }

    &__block img{
        height: 40px;
    }

    &__wrapper:hover{
        .new-works__icon{
            fill: $primary

        }
            .new-works__text{
                color: $white;
        }
    }

}