.socials{

    &__element{
        display: block;
        height: 30px;
        width: 30px;
        // padding: 3px;
    }
    &__brand{
        color: $primary;
    }
    &__element:hover{
        background-color: $primary;
       
       .socials__brand{
        color: white;
       } 
    }
}