.profile{
    &__data{
        width: 100%;
    }

}
@media (min-width: $width-tablet) {
    .profile{

        &__data{
            width: 120%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
}