.banner {
    background-color: black;
    background-image: url("https://12andrian85.github.io/public/img/home_banner_img.jpg");
    background-size: cover;

    .form {
        margin-bottom: 10px;
        .btn {
            width: 155px;
            height: 50px;
        }
        .form-select{
            color: $gray-600;
        }
    }

    .splide {
        margin-left: auto;
        position: initial;
        width: 100%;

        &__pagination {
            padding: 0;
            right: auto;
            left: 0;
            height: 20%;
            transform: translateY(-50%);
            top: 50%;
            display: none;
        }

        &__pagination__page {
            border-radius: 0;
            margin: 5px;
            width: 14px;
            height: 14px;
            outline: 1px;
            outline-color: $primary;
            outline-style: dashed;
            outline-width: thin;
        }

        .splide__pagination__page:focus {
            background-color: $primary;
        }

        .splide__arrows {
            display: none;
        }
    }
}

@media (min-width: $width-tablet) {
    .banner {
        // padding: 50px 0;

        .form-find-estate::before {
            position: absolute;
            content: "";
            width: 90px;
            height: 100px;
            background-image: url("/public/icons/form-element.svg");
            top: -19px;
            left: -20px;
        }

        .form {
            margin: 50px 0;
        }

        .splide {
            .title-center::after {
                display: none;
            }

            &__title {
                font-size: 2.5rem;
            }
        }
    }
}

@media (min-width: $width-desktop) {
    .banner {}
}


@media (min-width: $width-xx-desktop) {
    .banner {
        .container {
            position: relative;
            margin-left: auto;

            &::before {
                position: absolute;
                content: "";
                width: 1px;
                top: 0;
                bottom: 0;
                background-color: $gray-600;
                left: -50px;
            }
        }

        .splide {
            height: 35rem;

            &__pagination {
                display: flex;
                left: -95px;
                height: auto;
            }

            &__title {
                font-size: 3.5rem;
            }
        }
    }
}

// @media (min-width: $width-xxx-desktop) {
//     .banner {
//         .container{
//             position: relative;
//         }

//         .splide {

//             &__pagination {
//                 left: -120px;
//             }
//         }
//     }
// }