.contacts{
    .c-sub-title {
        border-bottom: none;
    }
    .c-sub-title::before {
        background-color: $gray-300;
    }
    .form{
        .form-control{
            padding: 8px 10px;
            border: none;
            border-radius: 2px;
            background-color: $gray-300;
        }
    }


}