.footer {
    background-color: #191818;
    opacity: 0.95;
    .footer-logo img{
        width: min-content;
    }

    .footer-subtitle {
        border-bottom: 1px solid $primary;
        display: inline-block;
        padding-bottom: 5px;
    }

    .footer-svg {
        color: $primary;
    }

    .footer-list {
        color: $white;
    }

    .footer-list:hover {
        color: $primary;

        .footer-svg {
            color: $white;
        }
    }

    .form-control {
        width: min-content;
        background-color: $white;
        padding: 2px;
    }

    .footer-inner {
        overflow: hidden;
        height: 50px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
   
    .footer-gallery {
        max-height: 65px;
        max-width: 65px;
        padding: 5px;
    }
    .c-socials{
        &__element{
            background-color: transparent;
        }
        &__brand{
            color: $white;
        }
    }
    .c-socials:hover{
        &__element{
            background-color: $white;
        }
        &__brand{
            color: $primary;
        }
    }
}

@media (min-width: $width-tablet) {
    .footer {
        .form-control {
            width: 100px;
        }
        .footer-title{
            margin-bottom: 60px;
        }
    }
}

@media (min-width: $width-tablet) {
    .footer {
        .form-control {
            width: auto;
        }
    }
}

// @media (min-width: $width-desktop) {