.footer {
    background-color: #181818FF;
    opacity: 0.95;

    .footer-logo img {
        width: min-content;
    }

    .footer-subtitle {
        border-bottom: 1px solid $primary;
        display: inline-block;
        padding-bottom: 5px;
        margin-top: 15px;
    }

    .footer-svg {
        color: $primary;
    }

    .footer-list {
        color: $white;
    }

    .footer-list:hover {
        color: $primary;

        .footer-svg {
            color: $white;
        }
    }

    .form {
        .form-input {
            width: min-content;
            background-color: $white;
            border: none;
            border-radius: 0;
            padding: 14px 10px;
        }

        .form-search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
            width: 40px;
            height: 40px;
            background-color: $primary;
            border: none;
        }
        .form-svg{
            color: $white;
        }

    }

    .footer-inner {
        overflow: hidden;
        height: 50px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    
    .footer-gallery {
        max-height: 65px;
        max-width: 65px;
        margin: 7px;
    }

    .c-socials {
        &__element {
            background-color: transparent;
        }

        &__brand {
            color: $white;
        }
    }

    .c-socials:hover {
        &__element {
            background-color: $white;
        }

        &__brand {
            color: $primary;
        }
    }
}

@media (min-width: $width-tablet) {
    .footer {
        .form-control {
            width: 100px;
        }

        .footer-title {
            margin-bottom: 40px;
        }
    }
}

@media (min-width: $width-tablet) {
    .footer {
        .form-control {
            width: auto;
        }
        .footer-subtitle {
            margin-top: 0;
        }
    }
}

// @media (min-width: $width-desktop) {