.header {
    background-color: #F4F4F4FF;

    .container-fluid {
        height: 50px;
    }

    .header-svg-element {
        display: none;
    }

    .icon-header {
        width: 200px;
        height: 50px;
    }

    .form {
        &__search {
            background-color: transparent;
            border: none;
            max-width: 150px;
        }

        &__submit {

            position: absolute;
            right: 0;
        }
       
    }

    .header-block {
        height: 50px;
    }

    .nav-item {
        font-size: small;
        font-weight: 700;
    }



    // are wrong
    .navbar {
        .nav-link {
            display: flex;
            align-items: center;
            color: $secondary;
            font-weight: 600;
            margin: 15px 10px;
            padding: 0;
        }

        .btn {
            width: max-content;
            border-radius: 0;
        }

        .dropdown-item {
            color: $secondary;
        }

        .active {
            color: $primary;
        }

        .nav-link:hover,
        .dropdown-item:hover {
            color: $primary;
        }

        .nav-link:focus {
            color: $primary;
            border-bottom: 1px solid $primary;

        }

        .navbar-collapse {
            background-color: #F4F4F4FF;
            z-index: 10;
        }
    }

}

.nav-logo {
    display: flex;
    margin: 12px;
    width: max-content;
}

.collapse {
    .btn {
        padding: 8px 30px;
    }

    .btn:hover {
        background-color: $primary;
    }
}


.header::before {
    display: none;
    position: absolute;
    content: "";
    width: 200px;
    height: 50px;
    background-image: url("/public/icons/head-left.svg");
    left: 0;
    top: 0;

    @media (min-width: $width-x-desktop) {
        display: block;
    }

}

.header::after {
    position: absolute;
    display: none;
    content: "";
    width: 200px;
    height: 50px;
    background-image: url("/public/icons/head-right.svg");
    right: 0;
    top: 0;

    @media (min-width: $width-x-desktop) {
        display: block;
    }
}